.landing-page{
   background: url(../asset/image/landing.png);
   width: 100%;
   padding: 1% 5% 10% 5%;
   background-size: cover;
}
.nav-item{
    color: white;
}
.dropdown-menu .dropdown-item a{
    color: black;
}

.container-fluid.container-left{
    width: 75%;
}


#mainNav .nav-link {
        color: white;
    } 

.nav-item a{
    font-size: 20px;
}

#mainNav,.nav-item{
    padding-left: 0.5% !important;
    padding-right: 3.5% !important;
}



#mainNav.navbar-shrink {
    background-color: #fff;
    
  }
  #mainNav.navbar-shrink .nav-link {
    color: #000;
  }
  #mainNav.navbar-shrink .nav-link:hover {
    color: black;
  }
  #mainNav.navbar-shrink .nav-link:active {
    color: white;
  }
  #mainNav.navbar-shrink .nav-link.active {
    outline: none;
    border-bottom: 0.25rem solid #133F66;
  }



.logo{
    width: 80%;
}

.container-landing{
    padding-top: 13%;
    padding-left: 2%;
    padding-bottom: 6%;
}

.title-image{
    position: absolute;
    width: 53%;
    top: 0%;
    left: 47%;
}


.big-heading{
    font-size:6rem;
    font-family: 'poppins';
    line-height: 1;
    font-weight: 900;
    color: #ffff;
}

.hero-bg{
    color: #133F66;
    background-color: #ffff;
    width: 145%;
    position: relative;
    opacity: 80%;
}

.button-text{
    color: white;
}

.btn.btn-secondary{
    font-size: 20px;
    width: 60%;
    height: 12%;
}

.btn-secondary{
    background-color: rgb(255, 255, 255,35%);
}

.section-heading{
    font-size: 3rem;
    line-height: 1.5;
    font-family: 'Poppins';
    
}

    h1, h2, h3, h4, h5, h6{
    font-family: 'Poppins'; 
    font-weight: bold;
}

.heading-p{
    color: white;
    font-size: 24px;
    
}



p{
    color: #8f8f8f;
}


/* About Section */


.about-container{
    background-color: white;
    padding: 10% 5% 3% 5%;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1s ease;
  }
  
  .reveal.active{
    transform: translateY(0px);
    opacity: 1;
  }
  

.abt-title{
    font-weight: bold;
    text-align: center;
    font-size: 50px;
}

.abt-para{
    margin-top: 2%;
    font-size: 26px;
    padding: 0% 20% 0% 20%;
    text-align: center;
    color: black;
}

.abt-titleblue{
    padding: 0% 0.5%;
    color: white;
    background-color: #133F66;
}

.ytvid{
    display: block;
    height: 750px;
    width: 85%;
    margin: 6% auto 6% auto;
    border-radius: 20px;

}

/* Information */

.inf-container{
    padding: 10% 5% 3% 5%;
    background: url(../asset/image/bginf.png);
    background-size: cover;
}

.inf-title{
    font-weight: bold;
    color: white;
    text-align: center;
    font-size:50px ;
}

.inf-titlewhite{
    background-color: white;
    color: #133F66;
    padding: 0% 0.5%;
}

.carousel{
    margin-top: 5%;
}

.inf-cr{
    border-radius: 20px;
}

.card{
    border-radius: 20px !important;
    border: none;
}

.card-text.card-text-top{
    color: #133F66;
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 2%;
}

.card-img-top{
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
}

.card-title{
    font-weight: bold;
    font-size: 26px;
}

.card-text{
    color: black;
    font-size: 20px;
}

.card-link{
    color: #133F66;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.carousel-control-prev{
    left: -5% !important;
    right:500px;
}
.carousel-control-next{
    left: 90%;
}

.carousel-control-prev-icon {
    background-image: url('../asset/image/navleft.svg') !important;
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;  /* Ukuran ikon */
    height: 40px; /* Ukuran ikon */
  }
  
  .carousel-control-next-icon {
    background-image: url('../asset/image/navright.svg') !important;
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
  }

  /* Keanggotaan Section */
.kgt-title{
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    margin-bottom: 1%;
}

.kgt-titleblue{
    color: white;
    background-color: #133F66;
    padding: 0% 0.5% 0% 0.5%;
}

.kgt-desc{
    color: black;
    font-size: 25px;
    padding: 2% 22% 2% 22%;
    text-align: center;
    margin-bottom: 3%;
}
.bg-light{
    border-radius: 30px !important;
}
.kgt-container{
    background-color: white;
    padding: 10% 5% 3% 5%;
}
#kgt-container, .agt-item{
    padding-left: 0% !important;
    padding-right: 0% !important;
}

#kgt-container, .agt-link{
    padding-right: 50px !important;
    text-align: center !important;
}

.menu-btn{
    text-decoration: none;
    font-size: 17px !important;
    color: black;
}

.agt-btn{
    font-weight: 500;
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right:20px;
    margin-right: 2rem;
    border:none;
    background-color: transparent;
    transition: 0.2s;
}

.menu-btn:hover{
    color: white;
}

.agt-btn:hover{
    background-color: #133F66;
    color: white;
    border-radius: 25px;
    animation: fadein 0.5s;
}

.agt-link:hover{
    color: white !important;
}
.navbar-expand, .navbar-collapse{
    justify-content: center !important;
}

.stay{
    background-color: #133F66;
    color: white;
    border-radius: 25px;
}

#cards{
    margin-top: 3%;
}

.card-sl{
    margin-bottom: 30%;
}

.card-agt{
    background-color: #133F66;
    border-radius: 0px 0px 20px 20px;
}

.card-img-agt{
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.card,.anggota-card{
    margin-top: 5%;
    border: none !important;
    width: 20rem;
}

.card-nama{
    color: white !important;
    font-size: 20px;
    text-align: center;
}

.card-text-jabatan{
    color: white;
    text-align: center;
    margin-bottom: 2%;
}

.social-agt{
    display: flex;
    justify-content: center;
}

.agt-social-icon{
    margin-right: 3%;
}

.agt-img{
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    width: 100%;
}

/* kelompok studi */

.ks-title{
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.ks-p{
    color: white;
    font-size: 26px;
    padding: 2% 24% 2% 24%;
    text-align: center;
    margin-bottom: 3%;
}

.white-ks{
    color: #133F66;
    background-color: white;
}
#ks{
    background: url(../asset/image/kelompok.png);
    background-image: cover; 
    
}
.kelompok-studi{
    padding: 5% 5% 10% 5%;
   
}
.bg-blue{
    background-color: rgba(19, 63, 102, 65%) !important;
    border-radius: 30px;
}

.ks-item{
    padding-left: 0% !important;
    padding-right: 0% !important;
}

.actv{
    background-color: white !important;
    color: black !important;
    border-radius: 25px;
}



.ks-btn{
    color: white;
    font-weight: 500;
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right:20px;
    margin-right: 2rem;
    border:none;
    background-color: transparent;
    transition: 0.2s;
}

.ks-btn:hover{
    background-color: white;
    color: black;
    border-radius: 25px;
    animation: fadein 0.5s;
}



.ks-cr{
    border-radius: 20px;
}


.ks-cr-img{
    width: 90%;
    border-radius: 20px;
}
  
.container-ks-content {
    text-align: left;
    left: 0;
    right: 0;
   }

.ks-desc-title{
    font-size: 46px;
    font-weight: bold;
    margin-left: 1%;
    color: white;
}

.ks-desc{
    margin-top: 2%;
    font-size: 24px;
    color: white;
    margin-left: 1%;
}

.ks-img{
    margin-right: 1%;
}

.ks-list{
    margin-left: 2%;
    color: white;
    font-size: 24px;
}

.rect {
    margin-top: 2%;
    background-color: rgba(19, 63, 102, 65%);
    width: 80%;
    height:80%;
    min-height: 60px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    padding:10px;
    word-wrap:break-word;
  }



